workflow.json
{
  "name": "SEO Analyzer Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "analyze",
        "responseMode": "responseNode",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        250,
        300
      ],
      "id": "webhook-node-id"
    },
    {
      "parameters": {
        "url": "https://serpapi.com/search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "={{$json.body.keyword}}"
            },
            {
              "name": "api_key",
              "value": "={{$env.SERPAPI_KEY}}"
            },
            {
              "name": "engine",
              "value": "google"
            },
            {
              "name": "num",
              "value": "10"
            }
          ]
        },
        "options": {}
      },
      "name": "SerpApi Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        450,
        300
      ],
      "id": "serpapi-node-id"
    },
    {
      "parameters": {
        "jsCode": "const results = $input.all()[0].json.organic_results || [];\n\nconst cleanedResults = results.slice(0, 10).map(result => ({\n  title: result.title,\n  link: result.link,\n  snippet: result.snippet\n}));\n\nreturn [{ json: { results: cleanedResults, keyword: $('Webhook').first().json.body.keyword } }];"
      },
      "name": "Clean Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        650,
        300
      ],
      "id": "code-node-id"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{$env.GROQ_API_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  model: \"llama-3.3-70b-versatile\",\n  messages: [\n    {\n      role: \"system\",\n      content: \"You are an SEO expert. Analyze the provided search results and return a JSON object with the following fields: 'summary' (string), 'search_intent' (string, e.g., Informational, Transactional), 'difficulty_score' (number 1-100), and 'competitors' (array of strings, top 3 domains). Return ONLY valid JSON.\"\n    },\n    {\n      role: \"user\",\n      content: JSON.stringify($json.results)\n    }\n  ],\n  response_format: { type: \"json_object\" }\n}) }}"
      },
      "name": "AI Analysis",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        850,
        300
      ],
      "id": "ai-node-id"
    },
    {
      "parameters": {
        "tableId": "seo_reports",
        "columns": "keyword, summary, search_intent, created_at",
        "options": {}
      },
      "name": "Supabase Insert",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1050,
        400
      ],
      "id": "supabase-node-id",
      "credentials": {
        "supabaseApi": {
          "id": "YOUR_SUPABASE_CREDENTIAL_ID",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{$json}}",
        "options": {}
      },
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1250,
        300
      ],
      "id": "respond-node-id"
    },
    {
      "parameters": {},
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        450,
        500
      ],
      "id": "error-trigger-id"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"error\": true,\n  \"message\": \"Analysis failed. Please try again later.\"\n}",
        "options": {
          "responseCode": 500
        }
      },
      "name": "Error Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        650,
        500
      ],
      "id": "error-response-id"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "SerpApi Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SerpApi Request": {
      "main": [
        [
          {
            "node": "Clean Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean Data": {
      "main": [
        [
          {
            "node": "AI Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Analysis": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          },
          {
            "node": "Supabase Insert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}